.body{
     margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
}
.section-0{
    background-image: url('./third.png');
    width: 100%;
    height: 520px;
   border: 3px solid white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: rgb(247, 244, 244);
    padding: 1px;

}
.overlay{
    position: absolute;
    background-color: #1b0a64;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 100%;
    
}
.navbar p{
    margin-right: 15px;
}
.textBox{
    height: 200px;
    width: 400px;   
    margin-top: 2rem;

}
.textBox h1{
    margin: 0;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
margin-left: 40px;
 color: white; 
 font-size: 40px;
}
.textBox p{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-left: 10px;
    color: #dfd4d4; 
    font-size: 13px;
    text-align: center;
}
.checkBox{
    height: 20px;
    width: 100px;
    margin-left: 140px;
    
}
.create-account{
     margin-right: 4%;

}
.create-account button{
    
    background-color: #482BE7;
    border: none;
    color: #dfd4d4;
    font-size: 10px;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    width: 130px;

}
.section-1{
    margin-top: 30px;
    
}
.imgbox{
    height: 540px;
    width: 100%;
    position: relative;
}
.imgdiv{
    background-image: url(./second.png);
    height: 100%;
    width: 100%;
}
.overlay-1{
    position: absolute;
    background-color: #2F1893;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 100%;
}
.textBox-1{
    position: absolute;
    height: 250px;
    width: 450px;
    top: 30%;
    left: 31%; 
}
.textBox-1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
}
.textBox-1 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
font-size: 12px;
}
.textBox-1:hover{
    border: 3px solid rgb(85, 85, 233);
}
.imgbox-3{
    height: 540px;
    width: 100%;
    position: relative;
    background-image: url(./Rectangle.png);
    margin-top: 30px;
}
.overlay-3{
    position: absolute;
    background-color: #2F1893;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 100%;
}
.Rectangle{
    position: absolute;
    height: 300px;
    width: 983px;
    background-image: url(./third.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 30%;
}
.textBox-3{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    position: absolute;
    top: 30%;
    right: 35%;
}
.textBox-3:hover{
     border: 3px soild #330fd4;
}
.upper-text-box h1,p{
 margin: 0;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: rgb(243, 236, 236);
 margin-top: 10px;
}
.upper-text-box p{
    text-align: left;
}
.lower-text-box{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lower-text-box:hover{
    border:3px solid rgb(95, 25, 226)
}
.section-4{
    background-image: url(./second.png);
    height: 500px;
    width: 98.7%;
    position: absolute;
    margin-top: 20px;


}
.overlay-4{
    position: absolute;
    background-color:  #2d1c7a;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 100%;
}
.textBox-4{
    height: 300px;
    width: 300px;
    position: absolute;
    
    top: 30%;
    left: 10%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT',
     Calibri, 'Trebuchet MS', sans-serif;
}
.textBox-4 h1{
    font-size: 28px;
}

.signIn-form{
    background-color: white;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    position: absolute;
 
    top: 15%;
    left: 50%;
}
.login-box{
    display: flex;
    justify-content: space-between;
    text-align: center;


}
.sign-up{
    padding-top:10px ;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    width: 150px;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
}

.LogIn{
    padding-top: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    width: 150px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(216, 210, 210);
    color: rgb(179, 172, 156);
    text-transform: capitalize;

}

.input-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   margin-top: 40px;
    height: 150px;
}

.input-box input{
    height: px;
    width: 200px;
margin-left: 50px;
border-radius: 20px;
border: 1.5px solid gray;
margin-top: 10px;
outline: none;
font-size: 20px;


}
.input-box input::placeholder{
    padding-left: 15px;
    font-size: 12px;
}
.input1{
    margin-bottom: 12px;
}
.button-box{
    margin-top: 30px;
margin-left: 50px;
}
.button-box button{
    height: 35px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;

}
.twitter-btn{
    background-color: #1DA1F2;
}
.Acc-btn{
    background-color: #25DAC5;
}
.section-5{
    margin-top: 550px;
    background-color: #1b0a64;
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    
    flex-direction: column;
}
.section-5 h1{
    margin-left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.client-box{
    border: 1px solid gray;
width: 400px;
margin-left: 30%;
display: flex;
flex-wrap: wrap;
}
.client-box div{
    width: 30%;
    
}

