.topSection{
    margin: 0;
    height: 250px;
    background-image: url(./back.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
align-items: center;
column-gap: 20px;
}

.top-container-text{
    color: aliceblue;
    margin-top: 10px;
}
.top-container-text p{
font-size: 20px;
font-family: open sans;
}
.top-container-budget{
    display: flex;
    justify-content: center;
}
.top-container-budget p{
    margin-top: 10px;
    font-size: 35px;
    color:white;
    font-family: open sans;
    margin-bottom: 40px;
}
.total-inc{
    
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 35px;
    margin-top: 20px;
    font-size: 15px;
    background-color: rgb(82, 218, 228);
    border-radius: 3px;
    color: #fff;
    align-items: center;
    
}
.total-exp{
    
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 35px;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(253, 69, 85);
    border-radius: 3px;
    color: #fff;
}
.input-container{
    background-color: #e6e2e2;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.input-container div{
    
}
.input-container div select {
height: 30px;
width: 40px;
}
.input-des{
    height: 30px;
    width: 300px;
    margin-left: 20px;
    outline-color:rgb(82, 218, 228);
    border-radius: 2px;
    border: none;
}
 .input-val{
    height: 30px;
    width: 50px;
    margin-left: 20px;
    outline-color:rgb(82, 218, 228);
    border-radius: 2px;
    border: none;
}
.input-container div button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid rgb(86, 204, 212);
    margin-left: 20px;
    color: rgb(58, 202, 212);
}
.input-container div select{
   outline: none;
    border: 1px solid  rgb(58, 202, 212);
}
.list-container{
    display: flex;

}
.inc-list{
    float: right;
width: 500px; 
margin-left: 100px;   
font-size: 20px;
    background-color: rgb(45, 100, 148);
}
.list{
    display: flex;
    width: 55rem;
    font-size: 20px;
    margin-left: 30px;
    flex-direction: column;
}
.list-item ul{
    list-style-type: none ;
}
.list ul li {
 display: flex;
 flex-direction: row;
 border-top: solid 1px gray;
 padding-top: 10px;
 padding-bottom: 10px;
 border-bottom: solid 1px gray;
 justify-content: space-between;
 transition: 5ms;
}
.peasy{
    margin-left: 350px;
}
.list ul li i:hover{
 cursor: pointer;
}